<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="br.com.usinasantafe.pcp">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PCP"
        tools:targetApi="31">
        <activity
            android:name=".NomeColabActivity"
            android:exported="false" />
        <activity
            android:name=".DescrMovActivity"
            android:exported="false" />
        <activity
            android:name=".LogErroActivity"
            android:exported="false" />
        <activity
            android:name=".LogBaseDadoActivity"
            android:exported="false" />
        <activity
            android:name=".LogProcessoActivity"
            android:exported="false" />
        <activity
            android:name=".ConfigActivity"
            android:exported="false" />
        <activity
            android:name=".SenhaActivity"
            android:exported="false" />
        <activity
            android:name=".VisitanteTerceiroActivity"
            android:exported="false" />
        <activity
            android:name=".VeiculoVisitanteTerceiroActivity"
            android:exported="false" />
        <activity
            android:name=".VeiculoProprioActivity"
            android:exported="false" />
        <activity
            android:name=".TipoActivity"
            android:exported="false" />
        <activity
            android:name=".PlacaActivity"
            android:exported="false" />
        <activity
            android:name=".ObservacaoActivity"
            android:exported="false" />
        <activity
            android:name=".NotaFiscalActivity"
            android:exported="false" />
        <activity
            android:name=".MenuInicialActivity"
            android:exported="false" />
        <activity
            android:name=".ListaVeiculoSecActivity"
            android:exported="false" />
        <activity
            android:name=".ListaMovActivity"
            android:exported="false" />
        <activity
            android:name=".DestinoActivity"
            android:exported="false" />
        <activity
            android:name=".ColabActivity"
            android:exported="false" />
        <activity
            android:name=".view.TelaInicialActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>